/* CSS crunched with Crunch - http://crunchapp.net/ */
#background{width:100%;height:100%;float:left;}#background #controls{float:left;width:100%;}#background #controls label{clear:both;float:left;margin-top:20px;width:100%;}
#background #controls .color{clear:both;float:left;width:50%;}
